<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
  <% include ../partials/nav %>

  <section name="jumbotron">
    <div class="jumbotron text-center">
      <h1>Send via WhatsApp</h1>
      <p></p>
    </div>

    <div class="container">
      <% include ../partials/form %>
    </div>
  </section>

  <% include ../partials/footer %> <% include ../partials/scripts %>
</body>

</html>